* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 1200px;
    margin: auto;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-6 {
    width: 50%;
}
.uppercase {
    text-transform: uppercase;
}
.color-golden {
    color: goldenrod;
}
.fs-30 {
    font-size: 30px;
}
.fw-200 {
    font-weight: 200;
}
.ta-center {
    text-align: center;
}
.line,
.circle-left,
.circle-right
{
    position: relative;
}
.line::before{
    content: '';
    position: absolute;
    top: -40px;
    left: -1.5px;
    width: 1px;
    height: 845px;
    /* ? */
    background-color: #111;
}
.circle-left::before {
    content: '';
    position: absolute;
    top: -65px;
    right: -4.6px;
    width: 5px;
    height: 5px;
    border: 3px solid #111;
    background-color: goldenrod;
    border-radius: 50%;
    z-index: 2;
}
.circle-right::before {
    content: '';
    position: absolute;
    top: -65px;
    left: -6.5px;
    width: 5px;
    height: 5px;
    border: 3px solid #111;
    background-color: goldenrod;
    border-radius: 50%;
    z-index: 2;
}
.pl-30 {
    padding-left: 30px;
}
.pr-30 {
    padding-right: 30px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pt-50 {
    padding-top: 50px;
}
.mb-80 {
    margin-bottom: 80px;
}
/* .red {
    border: 1px solid red;
}
.blue {
    border: 1px solid blue;
}
.green {
    border: 1px solid green;
} */


/* Breakpoints */

@media (min-width: 576px) {
    
}
@media (min-width: 768px) {
    
}
@media (min-width: 992px) {
    
}
@media (min-width: 1200px) {
    
}
@media (min-width: 1400px) {
    
}