:root {
    --primary-orange: #f9ab00;
    --primary-red: #ef4035;
    --primary-grey: #999;
    --primary-darkgrey: #30393d;
    --primary-white: #fff;
}
.contact {
    background: var(--primary-darkgrey);
    padding: 3rem 0;
}
.contact-title {
    color: var(--primary-orange);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 1.5rem;
}
.contact-text {
    color: var(--primary-white);
    text-align: center;
    margin-bottom: 3rem;
}
.jc-center {
    justify-content: center;
  
}
input[type=submit] {
    width: 100%;
    background: transparent;
    border: 2px solid var(--primary-red);
    padding: .5rem 0;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    color: var(--primary-white);
    transition: all .3s ease;
}
input[type=submit]:hover {
    background: var(--primary-red);
}
.input-data{
    position: relative;
    height: 3.75rem;
    width: 100%;
}
.textarea-data {
    position: relative;
    height: 15rem;
    width: 100%;
    margin-bottom: 1.5rem;
}
.input-data > input,
.textarea-data > textarea
{
    height: 100%;
    width: 100%;
    background: transparent;
    color: var(--primary-white);
    border: none;
    border-bottom: 1px solid var(--primary-grey);
    outline: none;
    caret-color: var(--primary-red);
    /* caret-color-  inputa klik edende gorsenen kursorun rengini teyin edir */
}
.input-data > .underline,
.textarea-data > .underline 
{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%; 
}
.input-data > .underline::before,
.textarea-data > .underline::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--primary-orange);
    transform: scaleX(0);
    transform-origin: center;
    transition: all .4s ease;
}
input:focus ~ .underline::before,
textarea:focus ~ .underline::before
{
    transform: scaleX(1);
}
textarea {
    resize: none !important;
}



/* Breakpoints */

@media (min-width: 576px) {
    
}
@media (min-width: 768px) {
    
}
@media (min-width: 992px) {
    .contact-title {
        font-size: 2rem;
    }
    .contact-text {
        font-size: 1.3rem;
    }
}
@media (min-width: 1200px) {
    
}
@media (min-width: 1400px) {
    
}