/* Custom CSS */


:root {
    --primary-orange: #f9ab00;
    --primary-red: #ef4035;
    --primary-grey: #999;
    --primary-darkgrey: #30393d;
    --primary-white: #fff;
}
.service-background {
    background-color: var(--primary-grey);
}
.services {
    justify-content: center;
}
.service-title {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.service-item {
    flex: 0 0 auto;
    width: 75%;
    margin-bottom: 3rem;
}
.kard {
    transform-style: preserve-3d;
    position: relative;
    height: 25rem;
    perspective: 62.5rem;
}
.kard:hover .kard-front {
    transform: rotateY(-180deg);
}
.kard:hover .kard-back {
    transform: rotateY(0deg);
}
.kard-front {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 5s ease;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid var(--primary-orange);
    background: var(--primary-white);
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.kard-front i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    color: var(--primary-white);
    background: var(--primary-orange);
    font-size: 1.5rem;
    margin: .5rem 0 1.5rem;
}
.kard-front h5 {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.kard-front p {
    text-align: justify;
}
.kard-back {
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 5s ease;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid var(--primary-orange);
    background: var(--primary-white);
}
.kard-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* Breakpoints */

@media (min-width: 576px) {

}
@media (min-width: 768px) {
    .service-item {
        flex: 0 0 auto;
        width: 50%;
    }
}
@media (min-width: 992px) {
    .service-background {
        padding-bottom: 3rem;
    }
    .service-title {
        font-size: 3.125rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .service-item {
        flex: 0 0 auto;
        width: 25%;
        margin-bottom: 0;
    }
    .kard-front {
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .kard-front h5 {
        font-size: 1.5rem;
    }
    .kard-front p {
        font-size: 1.125rem;
    }  
}
@media (min-width: 1200px) {
    .kard-front p {
        text-align: center;
    }
}
@media (min-width: 1400px) {
    
}